certifi
charset-normalizer
Django
django-debug-toolbar
django-environ
django-widget-tweaks
djangorestframework
idna
Pillow
python-dateutil
python-decouple
pytz
requests
six
sslcommerz-lib
urllib3
virtualenv
whitenoise
widgetsnbextension
djangorestframework-simplejwt
pyotp
qrcode
