{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>{% block title %}HealthStack{% endblock %}</title>

    <!-- Favicons -->
    <link type="image/x-icon" href="{% static 'HealthStack-System/images/Normal/favicon.png' %}" rel="icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'HealthStack-System/css/Normal/bootstrap.min.css' %}">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/all.min.css' %}">

    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'HealthStack-System/css/Normal/style.css' %}">

    {% block extra_css %}{% endblock %}
</head>

<body>
    <!-- Main Wrapper -->
    <div class="main-wrapper">
        {% block content %}
        {% endblock %}
    </div>

    <!-- jQuery -->
    <script src="{% static 'HealthStack-System/js/Normal/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JS -->
    <script src="{% static 'HealthStack-System/js/Normal/popper.min.js' %}"></script>
    <script src="{% static 'HealthStack-System/js/Normal/bootstrap.min.js' %}"></script>

    <!-- Custom JS -->
    <script src="{% static 'HealthStack-System/js/Normal/script.js' %}"></script>

    {% block extra_js %}{% endblock %}
</body>
</html>