
{% extends 'base.html' %}
{% load static %}

{% block title %}HealthStack - Hospital Management System{% endblock %}

{% block content %}
<!-- Header -->
{% include 'navbar_home.html' %}

<!-- Home Banner -->
<section class="section section-search">
    <div class="container-fluid">
        <div class="banner-wrapper">
            <div class="banner-header text-center">
                <h1>Search Doctor, Make an Appointment</h1>
                <p>Discover the best doctors, clinic & hospital the city nearest to you.</p>
            </div>

            <!-- Search -->
            <div class="search-box">
                <form method="GET" action="{% url 'search' %}">
                    <div class="form-group search-location">
                        <input type="text" name="location" class="form-control" placeholder="Search Location">
                        <span class="form-text">Based on your Location</span>
                    </div>
                    <div class="form-group search-info">
                        <input type="text" name="search" class="form-control" placeholder="Search Doctors, Clinics, Hospitals, Diseases, etc">
                        <span class="form-text">Ex : Dental or Sugar Check up etc</span>
                    </div>
                    <button type="submit" class="btn btn-primary search-btn"><i class="fas fa-search"></i> <span>Search</span></button>
                </form>
            </div>
            <!-- /Search -->

        </div>
    </div>
</section>
<!-- /Home Banner -->

<!-- Clinic and Specialities -->
<section class="section section-specialities">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="section-header ">
                    <h2>Clinic and Specialities</h2>
                    <p>Find experienced Doctors across all specialities</p>
                </div>   
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="speicality-item text-center">
                            <div class="speicality-img">
                                <img src="{% static 'HealthStack-System/images/Normal/specialities/specialities-01.png' %}" class="img-fluid" alt="Speciality">
                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                            </div>
                            <p>Urology</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="speicality-item text-center">
                            <div class="speicality-img">
                                <img src="{% static 'HealthStack-System/images/Normal/specialities/specialities-02.png' %}" class="img-fluid" alt="Speciality">
                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                            </div>
                            <p>Neurology</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="speicality-item text-center">
                            <div class="speicality-img">
                                <img src="{% static 'HealthStack-System/images/Normal/specialities/specialities-03.png' %}" class="img-fluid" alt="Speciality">
                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                            </div>
                            <p>Orthopedic</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="speicality-item text-center">
                            <div class="speicality-img">
                                <img src="{% static 'HealthStack-System/images/Normal/specialities/specialities-04.png' %}" class="img-fluid" alt="Speciality">
                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                            </div>
                            <p>Cardiologist</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="speicality-item text-center">
                            <div class="speicality-img">
                                <img src="{% static 'HealthStack-System/images/Normal/specialities/specialities-05.png' %}" class="img-fluid" alt="Speciality">
                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                            </div>
                            <p>Dentist</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</section>
<!-- /Clinic and Specialities -->

<!-- Popular Section -->
<section class="section section-doctor">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="section-header ">
                    <h2>Book Our Doctor</h2>
                    <p>Lorem Ipsum is simply dummy text </p>
                </div>
                <div class="about-content">
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.</p>
                    <p>web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes</p>
                    <a href="javascript:;">Read More..</a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="doctor-slider slider">
                    {% for doctor in doctors %}
                    <div class="profile-widget">
                        <div class="doc-img">
                            <a href="{% url 'doctor-profile' doctor.doctor_id %}">
                                <img class="img-fluid" alt="User Image" src="{{ doctor.image.url }}">
                            </a>
                            <a href="javascript:void(0)" class="fav-btn">
                                <i class="far fa-bookmark"></i>
                            </a>
                        </div>
                        <div class="pro-content">
                            <h3 class="title">
                                <a href="{% url 'doctor-profile' doctor.doctor_id %}">Dr. {{ doctor.first_name }} {{ doctor.last_name }}</a> 
                                <i class="fas fa-check-circle verified"></i>
                            </h3>
                            <p class="speciality">{{ doctor.specialization }}</p>
                            <div class="rating">
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star"></i>
                                <span class="d-inline-block average-rating">(17)</span>
                            </div>
                            <ul class="available-info">
                                <li>
                                    <i class="fas fa-map-marker-alt"></i> {{ doctor.address }}
                                </li>
                                <li>
                                    <i class="far fa-clock"></i> Available on {{ doctor.available_days }}
                                </li>
                                <li>
                                    <i class="far fa-money-bill-alt"></i> ${{ doctor.fees }}
                                    <i class="fas fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i>
                                </li>
                            </ul>
                            <div class="row row-sm">
                                <div class="col-6">
                                    <a href="{% url 'doctor-profile' doctor.doctor_id %}" class="btn view-btn">View Profile</a>
                                </div>
                                <div class="col-6">
                                    <a href="{% url 'booking' doctor.doctor_id %}" class="btn book-btn">Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Popular Section -->

<!-- Features Section -->
<section class="section section-features">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 features-img">
                <img src="{% static 'HealthStack-System/images/Normal/features/feature.png' %}" class="img-fluid" alt="Feature">
            </div>
            <div class="col-md-7">
                <div class="section-header">
                    <h2 class="mt-2">Availabe Features in Our Clinic.</h2>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                </div>
                <div class="features-slider slider">
                    <!-- Feature Item -->
                    <div class="feature-item text-center">
                        <img src="{% static 'HealthStack-System/images/Normal/features/feature-01.jpg' %}" class="img-fluid" alt="Feature">
                        <p>Patient Ward</p>
                    </div>
                    <!-- /Feature Item -->
                    
                    <!-- Feature Item -->
                    <div class="feature-item text-center">
                        <img src="{% static 'HealthStack-System/images/Normal/features/feature-02.jpg' %}" class="img-fluid" alt="Feature">
                        <p>Test Room</p>
                    </div>
                    <!-- /Feature Item -->
                    
                    <!-- Feature Item -->
                    <div class="feature-item text-center">
                        <img src="{% static 'HealthStack-System/images/Normal/features/feature-03.jpg' %}" class="img-fluid" alt="Feature">
                        <p>ICU</p>
                    </div>
                    <!-- /Feature Item -->
                    
                    <!-- Feature Item -->
                    <div class="feature-item text-center">
                        <img src="{% static 'HealthStack-System/images/Normal/features/feature-04.jpg' %}" class="img-fluid" alt="Feature">
                        <p>Laboratory</p>
                    </div>
                    <!-- /Feature Item -->
                    
                    <!-- Feature Item -->
                    <div class="feature-item text-center">
                        <img src="{% static 'HealthStack-System/images/Normal/features/feature-05.jpg' %}" class="img-fluid" alt="Feature">
                        <p>Operation</p>
                    </div>
                    <!-- /Feature Item -->
                    
                    <!-- Feature Item -->
                    <div class="feature-item text-center">
                        <img src="{% static 'HealthStack-System/images/Normal/features/feature-06.jpg' %}" class="img-fluid" alt="Feature">
                        <p>Medical</p>
                    </div>
                    <!-- /Feature Item -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Features Section -->

{% include 'footer.html' %}

{% endblock %}
